.body{

  background-color: whitesmoke;

}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../img/teacher.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent; 
}

.navbar {

  border: 0;
  border-radius: 0;
 

}

.dispositivos {
  
  height: 50vh;
  margin-top: 100px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: url('../img/3992268.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
}

.logo {
  
  margin-top: 150px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 150px;

}
  
.titulomedio {
  
  text-align: center;
  margin-top: 35px;
  margin-bottom: 20px;

}
  
.tarjeta {

  
  padding-top: 100px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 35px;

}


.footerespacio {

  padding-bottom: 20px;
  padding-top: 20px;
  align-items: center;
 

}

.login {
  margin-top: 300px;

  display: flex;
  border: 1px solid black;
  height: 400px;
  width: 400px;
  justify-content: center;
  align-items: center
}

#listado {

  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;

}


